name: 11 - Working with Inputs
on: 
    workflow_dispatch:
        inputs:
            dry-run:
                type: boolean
                default: false
                description: "Skip deployment and only print build output"
            
            target:
                type: environment
                description: "Which environment the workflow will target"
            
            tag:
                type: choice
                options: 
                    - v1 
                    - v2 
                    - v3
                default: v3


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Build
              run: echo "Building from tag ${{inputs.tag}}"
            
    depoy:
        runs-on: ubuntu-latest
        needs: build
        if: inputs.dry-run == 'false'
        steps:
            - name: Deploy
              run: echo "Deploying to ${{inputs.target}}"
